body {background-color:#f7d4e5; }
.dashed{border:5px dashed White}
h1 {
  text-align: center;
  background-color: #ff9b55;
  border: 8px solid #d62900;
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 50px;
  border-radius: 25px 25px 10px 10px;
  color: #c22470;
}
.button { padding-left: 800px;
}
h2 {text-align: center;
background-color: #fdf6fa;
border: 8px solid #d62900;
font-family: Trebuchet MS, Helvetica, sans-serif;
font-size: 25px;
border-radius: 25px 25px 10px 10px;
color: #c22470;
box-sizing: border-box;
width: auto;
height: auto;
border: 8px solid #f0adcd
}
p {background-color: #fdf6fa;
border: 10px solid #e2609e;
font-family: Trebuchet MS, Helvetica, sans-serif;
font-size: 16px;
border-radius: 10px 10px 25px 25px;
color: #fffcfd;
background-color: #c22470;
}
h3 {box-sizing: content-box;
  width: 100px;
    padding: 12px;
    border: 8px solid #fdf6fa ;
    border-radius: 100px;
    text-align: center;
  }
