body {background-color:#968eaf; }
.dashed{}
h1 {
  text-align: center;
  font-family: 'Lexend Peta',sans-serif;
  font-size: 50px;
  padding: 20px;
  border-radius: 25px 25px 10px 10px;
  color: #eae8ef;
  -ms-transform: skewY(175deg); /* IE 9 */
     transform: skewY(175deg)
}
.button { padding-left: 800px;
}
h2 {text-align: center;
font-family: "Lexend Deca", sans-serif;
font-size: 25px;
color: ##eae8ef;
-ms-transform: skewY(175deg); /* IE 9 */
   transform: skewY(175deg)
}
p {background-color: #746994;
border: 10px solid #746994;
font-family: "Lexend Deca", sans-serif;
font-size: 16px;
border-radius: 10px 25px 10px 25px;
color: #fffcfd;
background-color: #746994;
}
h3 {box-sizing: content-box;
  width: 100px;
    padding: 12px;
    border: 8px solid #eae8ef ;
    text-align: center;
    background-color: #eae8ef;
    color: #48425c;
    -ms-transform: skewY(170deg); /* IE 9 */
       transform: skewY(170deg)
  }
.Apryll{-ms-transform: skewY(165deg); /* IE 9 */
   transform: skewY(165deg);
   background-color: #48425c;
 }
a {color:#48425c;
  font-family: 'Lexend Deca', sans-serif;
}
.Night {-ms-transform: skewY(165deg); /* IE 9 */
   transform: skewY(165deg);}
